<div class="container">
    <h2>Sisteme Kayıt Ol</h2>
    <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" required class="form-control"><br>
        <input type="password" name="password" placeholder="Şifre" required class="form-control"><br>
        <select name="role" class="form-control">
            <option value="student">Öğrenci</option>
            <option value="teacher">Öğretmen</option>
        </select><br>
        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>
</div>